{% extends "index.html" %}
{% block content %}
{% if current_user.Username == 'admin' %} <!-- Only the admin has access to the lock and delete functions to manage users accounts -->
	<table class="table table-striped table-dark">
		<thead>
			<tr>
				<th scope="col"> Username </th>
				<th scope="col"> User Lock Button </th>
				<th scope="col"> User Lock Status </th>
				<th scope="col"> User Delete Button </th>
			</tr>
		</thead>
			{% for user in users %}
				<tbody><tr>
					<td>{{user.Username}}</td>
					<td><a href="/locking/{{user.id}}"><button type="button" class="btn btn-warning"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
						<path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
					  </svg> Lock </button></a></td>
					<td>{{user.Banned}}</td>
					<td><a href="/delete/{{user.id}}"><button type="button" class="btn btn-warning"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
						<path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
					  </svg> Delete </button></a></td>
				</tr></tbody>
			{% endfor %}
	</table>
{% endif %}
{% endblock %}
