{% extends "index.html" %}
{% block content %}

    <div id="conteiner">
        <div id="bloc1">
            <h3>My settings</h3>
            <ul id="settingsMenu">
                <li><a href="{{ url_for('func_edition') }}"">Edit your profile</a></li>
                <li><a href="{{ url_for('func_account') }}"">Personal information</a></li>
                <li><a href="{{ url_for('func_password') }}">Change password</a></li>
            </ul>
        </div>
        <div id="bloc2">
            {% block settings %}
            {% endblock %}
        </div>
    </div>
    
{% endblock %}