{% extends "settings.html" %}
{% block settings %}

    <h3>Edit your personal information</h3>

    </br>
    <form method="POST" action="/settings/account" novalidate>
        {{ form.csrf_token }}  <!-- {{ form.hidden_tag() }} -->
        {{ form.firstname.label }} {{ form.firstname(class="form-control") }}<br>
        {{ form.lastname.label }} {{ form.lastname(class="form-control") }}<br>
        {{ form.date_birth.label }} {{ form.date_birth(class="form-control") }}<br>
        {{ form.email.label }} {{ form.email(class="form-control") }}<br>
        {{ form.submit (class="btn btn-warning") }}
    </form>
    <br>

    <a onclick="confirmDelete()" style="color: red; font-weight: bold;">Remove your accout here </a>

{% endblock %}
