{% extends "settings.html" %}
{% block settings %}

    <h3>Change your password</h3>

    </br>
    <form method="POST" action="/settings/password" novalidate>
        {{ form.csrf_token }}  <!-- {{ form.hidden_tag() }} -->
        {{ form.old_password.label }} {{ form.old_password(class="form-control") }}<br>
        {{ form.new_password.label }} {{ form.new_password(class="form-control") }} {{ form.show_password(onchange="showPassword('check', 'new_password')")  }}<br>
        {{ form.confirm_password.label }} {{ form.confirm_password(class="form-control") }} {{ form.show_confirm_password(onchange="showPassword('check_confirm', 'new_password_confirm')") }}<br>
        {{ form.submit (class="btn btn-warning") }}
    </form>
    <br>

{% endblock %}
