{% extends "index.html" %}
{% block content %}
    <h1 class="display-1">Register page</h1>

    {% for field, errors in form.errors.items() %}
    {{ ', '.join(errors) }}</br>
    {% endfor %}
    
     </br>
     <form method="POST" action="/register" novalidate>
       {{ form.csrf_token }}  <!-- {{ form.hidden_tag() }} -->
       {{ form.username.label }} {{ form.username(class="form-control") }}<br>
       {{ form.email.label }} {{ form.email(class="form-control") }}<br>
       {{ form.password.label }} {{ form.password(class="form-control") }} {{ form.show_password(onchange="showPassword('check', 'password')")  }}<br>
       {{ form.confirm_password.label }} {{ form.confirm_password(class="form-control") }}  {{ form.show_confirm_password(onchange="showPassword('check_confirm', 'password_confirm')") }}<br>
       {{ form.submit (class="btn btn-warning") }}
     </form>
     <br>

     Go back to <a href="{{ url_for('func_login') }}">Login page</a>
     {% endblock %}