/*
Here we define all the styles of the components of the website.
The welectors are the same as for JQuery.
*/

.main-container {
  /* Centers the whole content */
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#exampleInput {
  width: 10em;
  margin: 1em;
}
